 body {
  margin: 0;
  padding: 0;
  min-width: 800px;
}

.header {
  background: rgba(20, 20, 20, 0.856);
  height: 7.5vh;
  min-height: 60px;
}

.header .logo {
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: rgba(163, 31, 31, 0.5);
  color: rgba(255, 255, 255, 0.65);
  float: left;
}

.sider {
  background: rgba(81, 58, 119, 0.767);
  height: 82.5vh;
  min-height: 600px;
  overflow-y: auto;
}

.content {
  background: rgba(255, 255, 255, 1);
  height: 82.5vh;
  min-height: 600px;
  padding: 24;
  overflow-y: auto;
}

.footer {
  color: white;
  background: rgba(0, 0, 0, 1);
  height: 10vh;
  min-height: 36px;
  text-align: center;
}